body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url(images/wp.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 22px;
}

ul {
  list-style-type: none;
}

div {
  display: flex;
  width: fit-content;
}

fieldset legend {
  font-size: 30px
}

fieldset {
  background-color: rgb(181, 229, 248);
  margin: 10px 10px 10px 10px;
}

h1 {
  text-align: center;
}

#last {
  display: flex;
  width: min-content
}