body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

div {
  display: flex;
  width: fit-content;
}

fieldset legend {
  font-size: 18px
}

fieldset {
  background-color: rgb(150, 211, 198);
  margin: 10px 10px 10px 10px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}


.container {
  margin: auto;
}
